!!!
%html
  %head
    %title
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    %script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    %script(src="js/code.js")
    %script(type='application/x-suppress')
  %body(style="padding-top: 40px")
    .container(style="width: 300px")
      %h1
        %a{ :href => "?page=index"}
          HOME
        %hr
        %a{ :href => "?page=about"}
          ABOUT
        %br

      = @text
